@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0%;
  margin: 0%;
}
body {
  font-family: "Poppins", sans-serif;
}
/* --------------------------------
     Styling Top of the WEBSITE 
------------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 45px;
  margin-left: 155px;
  width: 1160px;
  height: 45px;
}
ul {
  display: flex;
  flex-direction: row;
}
ul > li {
  list-style: none;
  padding-right: 36px;
  cursor: pointer;
}
.pages {
  color: white;
}
.interactive {
  background-color: #e02c6d;
  height: 25px;
  width: 135px;
  font-size: 18px;
  color: white;
}
.interactive:hover {
  transform: scale(1.1);
  border-radius: 20px;
  transition: transform 0.6s linear;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: black;
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}
#login {
  padding: 10px 24px;
  text-align: center;
}
.top {
  background-color: #2d25a0;
  left: 0%;
  top: 0%;
  height: 695px;
  width: 1440px;
  border: 3px light;
}
section > div > img {
  position: absolute;
  width: 556.01px;
  height: 438px;
  left: 740px;
  bottom: 185px;
  top: 153px;
}
section > div > img:hover {
  transform: rotateY(360deg);
  transition: 4s ease-in-out;
  cursor: pointer;
}
.heading-text {
  font-size: 64px;

  font-weight: bold;
  color: white;
  margin-left: 156px;
  margin-top: 205px;
  position: absolute;
}

#watch {
  top: 490px;
  left: 155px;
  position: absolute;
  padding: 10px 24px 10px 24px;
  margin-top: 27px;
}
/*---------------------------------------------
     styling the middle part of the website 
------------------------------------------- */
.middle {
  margin: 70px 210px 165px 180px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 474px;
  padding: 15px;
  background: #ffffff;
  border: 3px light;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.highlight-title {
  font-weight: 700;
  font-size: 48px;
  margin-top: 16px;
  margin-bottom: 10px;
}
.player > img {
  height: 256px;
  width: 300px;
}
/*----------------------------------------
    Styling so called the Sub-Middle Part
------------------------------------------- */
.sub-middle > img {
  position: absolute;
  width: 567px;
  height: 427px;
  left: 717px;
  top: 2890px;
  margin-top: 100px;
}
.highlight-details {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
  padding: 0px;
  position: absolute;
  width: 466px;
  height: 309px;
  left: 182px;
  top: 2948px;
}
#watch-highlight {
  padding: 2%;
  width: 173px;
  text-align: center;
  margin-top: 24px;
}
/*-----------------------
  Additional Part-one
---------------------- */
.additional-one  {
    display: flex;
    border-left: 15px solid;
    border-image:linear-gradient(#FF61D2 , #FE9090);
    border-image-slice: 1;
     border-top-right-radius: 25px;
   

    box-shadow: 10px 10px 10px 10px gray;
    position: absolute;
    margin-top: 550px;
    margin-left: 150px;
    padding: 10px;
    width: 1000px; height:300px;
    text-align: justify;
}
.host-info {
    width: 500px;
    margin-left: 30px;
    margin-top: 20px;
}
.host-pic img{
    width: 400px;
    height: 260px;
    position: static;
    margin-left: 65px;
    margin-top: 30px;
    
}

/*---------------------------------------------
             Additional Part TWO- styling
 ----------------------------------------------- */
 .additional-two  {
    display: flex;
    border-left: 15px solid;
    border-image:linear-gradient(#009245 , #FCEE21);
    border-image-slice: 1;
     border-top-right-radius: 25px;
   

    box-shadow: 10px 10px 10px 10px gray;
    position:absolute;
    margin-top: 1000px;
    margin-left: 150px;
    padding: 10px;
    width: 1000px; height:300px;
    text-align: justify;
}
.winner-info {
    width: 500px;
    margin-left: 30px;
    margin-top: 20px;
}
.winner-pic img{
    width: 400px;
    height: 260px;
    position: static;
    margin-left: 65px;
    margin-top: 30px;
    
}



/*===============================================
     Let's add some styles to the footer part 
============================================== */
footer {
   
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  text-align: center;
  position: absolute;
  width: 483px;
  height: 213px;
  left: 475px;
  top: 4500px;
  padding-bottom: 60px;
}
.logo-image > img {
  width: 480px;
  height: 110px;
  margin-right: 0%;
}
.social-icons {
  font-size: 25px;
  margin-left: 15px;
  margin-bottom: 10px;
  opacity: 0.5;
}
.social-icons:hover {
  cursor: pointer;
}
